<div *ngFor="let info of vehicleService.info">
    <h4>
        {{info.vehicle.Name}}
        <button class="btn btn-primary btn-sm" *ngIf="info.timer" (click)="stopTracking(info)">Pause</button>
        <button class="btn btn-primary btn-sm" *ngIf="!info.timer" (click)="resumeTracking(info)">Resume</button>
    </h4>
    <table *ngIf="vehicleService.info.length > 0">
        <tr>
            <th>Location</th>
            <th>Time</th>
            <th>Next Stop</th>
            <th>RM ETA</th>
            <th>Google ETA</th>
            <th>Difference</th>
        </tr>
        <tr *ngFor="let t of info.segments">
            <td>({{t.Origin.Latitude}}, {{t.Origin.Longitude}})</td>
            <td>{{t.OriginDateTime}}</td>
            <td>{{t.DestinationStopName}}</td>
            <td>{{t.DestinationETA}}</td>
            <td>{{t.GoogleInfo?.DestinationETA}}</td>
            <td>{{(t.GoogleInfo?.TravelTimeInSeconds - t.RMInfo?.TravelTimeInSeconds) | timeFormat}}</td>
        </tr>
    </table>
</div>